body {
    background-color: black;
    font-family: Verdana;
    color: white;
    text-align: center;
}
header {
    font-size: 45px;
    width: 75%;
    margin: 0 auto;
}
p {
    color: aquamarine;
    font-size: 16px;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}
div p {
    font-size: 21px;
    color: gray;
}
img {
    margin: 50px auto;
}
footer {
    margin-bottom: 50px;
}
